.login-banner{
    background: url('../../assets/banner/login-bg.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 85vh;
    background-repeat: no-repeat;
}

.google-btn{
    display: block;
    width: 100%;
    border: 2px solid #ddd;
    background: none;
    padding:10px 10px;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    transition: 0.3s ease;
}
.google-btn:hover{
    border: 2px solid purple;
    color: purple;
}